# ######### Network Server ####################
# ---------------------------------------------
# python http server
# ex: 	server	< -- default port is 8000
# $ ifconfig or $ ip addr
alias server="python3 -m http.server "$1""
alias server2="python2 -m SimpleHTTPServer "$1""
###############################################

########## handy ##############################
download() { wget $(apt-get --print-uris -y install "$@" | grep ^\'| cut -d\' -f2) ;}
extract() { ar vx "$@" | tar -zxvf data.tar.gz ;}
blocksite() { sudo vim /etc/hosts ;}
###############################################

################ Music and Files ###############
# convert doc/docx to pdf (dont upload sensitive data)
# usage: doc2pdf file.docx or doc2pdf file.doc
doc2pdf() { curl -# -F inputDocument=@"$1" http://www.doc2pdf.net/convert/document.pdf > "${1%.*}.pdf" ;}
tree() { find . -type d | sed -e "s/[^-][^\/]*\//  |/g" -e "s/|\([^ ]\)/|-\1/" }
################################################


############## Directory Shortcuts #############
#-----------------------------------------------
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
################################################


################# Handy Git aliases ############
#-----------------------------------------------
alias gs="git status"
alias ga="git add"
alias gb="git branch"
alias gc="git commit -m "$1""
alias gp="git push $1 $2" # gp OR gp [remote] [branch]
alias pull="git pull"
alias gt="git tag "$1""
alias gtp="git push --tags"
alias co="git checkout"
alias gfuck="git push origin master"
alias lol="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gcl="git clone"
alias gg="git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'"

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"
# add all changes from working tree to stage, commit them with message and push them
g() {
    git add -A .;
    git commit -m "$1";
    git push;
}
################################################


#################### Extras ####################
# find ports
alias port="lsof -i :"$1""

#sqlite
alias sq="sqlite3"

# heroku
alias h-destory="heroku apps:destroy --app"

# ec2
alias myip="curl ipinfo.io/ip"

# vim 
alias v="vim"

# ipython
alias i="ipython"

# find port
alias ports="sudo netstat -lnp --tcp --udp"

# heroku destroy
alias hdestroy="heroku apps:destroy --app $1"
alias fzf="$HOME/.fzf/bin/fzf"

